* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    padding: 3rem;
}

.image {
    display: block;
    width: 100%;
    padding: 7px
}

.thumbnail :hover {
    transform: translateY(-4px);
}

.img-container:hover {
    opacity: 1;
}

          
          
    